/* RÈGLES DE BASE */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Open+Sans&display=swap');


:root {
    
    /* PLATINUM THEME VARIABLES */
    
    --ptm-color-one: black;
    --ptm-color-bis: #f0f0f0;
    --ptm-color-ter: crimson;
    --ptm-main-font: "Open Sans";
    --ptm-title-font: "Chakra Petch";
    --ptm-border: 5px outset var(--ptm-color-bis);
    
    /* MODULES */
    
    --btm-menu-height: 60px;
    --btm-menu-bg: linear-gradient(
        black,
        rgb(20, 20, 20)
    );

    --ptm-btn-color: #fefefe;
    --ptm-btn-bg: rgb(20, 20, 20);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 0;
}

body {
    background: 
        linear-gradient(
            rgba(0, 0, 0, .6), 
            rgba(0, 0, 0, .4),
            rgba(0, 0, 0, .6)
        ),
        url("https://i.ibb.co/JcwYJrv/main-bg.jpg");
    background-size: calc(max(100%, 1300px));
    background-attachment: fixed;
color: var(--ptm-color-bis);
    /*! margin-top: 0; */
}

/* RÈGLES MODULES */

.ptm-title {
    font-family: "Chakra Petch";
}

.ptm-textbox {
  font-family: "Open Sans";
  font-size: 1em;
  text-align: justify;
  padding: 20px;
  background: 
      linear-gradient(
          315deg, 
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, .8)
      );
    
  border-radius: 0 32px;
  border: var(--ptm-border);
  outline: 3px solid black;
}

.ptm-main-box {
    
}

.ptm-box-gradient {
    
}

.ptm-btm-dropup {
    position: fixed;
    bottom: -65px; 
    left: 0;
    width: 100%;
    background: var(--btm-menu-bg);
    height: var(--btm-menu-height);
    transition: bottom .5s;
}



.ptm-btm-dropup > span {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translate(-50%, 0);
    width: 60px;

    height: 30px;
    padding: 0 10px;
    background: black;
    
    border: var(--ptm-border);
    border-bottom: 0;
    border-radius: 10px 10px / 30px 30px 0 0;
}

.ptm-btm-dropup > span:hover {
    cursor: pointer;
}

.ptm-btm-dropup > span:hover .ptm-btm-dropup-icon {
    opacity: 1;
}

.ptm-btm-dropup-icon {
    width: 100%;    
    display: flex;
    justify-content: center;
    text-shadow: crimson 1px 0 5px;
    opacity: 0;
    transition: opacity .3s;
}

.ptm-btm-dropup-icon::before {
    content: "\294c";
    font-size: 1.4em;
    font-weight: bold;
    font-style: normal;
    transform: scale(1.3, 1);
}

.ptm-menu-item {
    transition: text-shadow .3s;
    text-shadow: 0;
}

.ptm-menu-item:hover {
    text-shadow: 
        crimson 2px 2px 0,
        black 3px 3px 0;
}

.ptm-gallery-pagination {
    display: flex;
    justify-content: end;
    margin: 0 50px;
}

.ptm-pagination-btn {

    padding: 0 20px;
    height: 45px;

    border: 1px solid crimson;
    border-radius: 5px;

    color: var(--ptm-btn-color);
    font-size: 1rem;
    background: var(--ptm-btn-bg);

    cursor: pointer;
    transition: background .2s ease;
    margin-left: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    /*! vertical-align: baseline; */
    display: flex;
    align-items: center;
}

.ptm-pagination-btn:active {
    background: rgba(10, 10, 10);
}

/* MAIN GALLERY MODULE */



.ptm-gallery-head {
    
	min-height: 200px;
	background: rgb(20, 20, 20);
	border: 1px solid rgb(220,20,60, .6);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
    margin: 0 50px;
    
}

.ptm-gallery-wrapper {
    
    columns: 5;
    column-gap: 4%;
    padding: 50px; 
	background: linear-gradient(to left, rgba(20, 20, 20, 0.9), rgba(30, 30, 30), rgba(20, 20, 20, 0.9));
	border-radius: 5px;
	margin: 50px;
    margin-bottom: 30px;
    
} 

.ptm-gallery-wrapper .img-item {

    border-radius: 5px;
    box-shadow: 0 0 5px black;
    color: white;
    background: rgb(30, 30, 30, .8);

    width: 100%;
    break-inside: avoid;
    margin-bottom: 30px;

    transition: all .3s ease;
}

.ptm-gallery-wrapper .img-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.ptm-gallery-wrapper .img-item:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px black;
    cursor: pointer;
}

.ptm-gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .25s ease-out;
    pointer-events: none;
}

.ptm-gallery-modal .full-img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70vh;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-out;
    overflow-x: scroll;

}

.ptm-gallery-modal.open {
    opacity: 1;
    pointer-events: auto;
}

.ptm-gallery-modal .full-img.open {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.2);

}

/* RÈGLES SPÉCIFIQUES */

#ptm-main-wrapper {
    margin: 100px 150px;
    min-width: 1000px;
    min-height: 600px;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .75fr 1.25fr;
    grid-template-areas: 
        "chr-img chr-img . title title title"
        "chr-img chr-img . desc  desc  desc";
    
    align-items: center;
}

#ptm-main-character {
    display: flex; 
    justify-content: end;
    grid-area: chr-img;
    height: 600px;
}

#ptm-main-character > img {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(0 0 0.75rem crimson);
}

#ptm-main-title-space {
    grid-area: title;
}

#ptm-main-title {
    font-size: 7em;
    line-height: 120px;
    letter-spacing: 0.07em;
    text-shadow: 
        black -8px 0px,
        crimson -9px 0;
}

#ptm-main-subtitle {
    font-style: italic;
    color: crimson;
}

#ptm-main-description {
    grid-area: desc;
}

#ptm-nav {
	border-radius: 240px 240px / 40px 40px 0 0;
    border-top: var(--ptm-border);
    /*! min-width: 1300px; */
}

#ptm-nav > ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

#ptm-gallery-title {
    font-size: 5em;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .ptm-gallery-wrapper {
        columns: 3;
    }
}

@media (max-width: 1000px) {
    .ptm-gallery-wrapper {
        columns: 2;
    }
}

@media (max-width: 800px) {
    .ptm-gallery-wrapper {
        columns: 1;
    }

    .ptm-gallery-wrapper .img-item:hover {
        transform: unset;
    }
}
